#header>#search_box {
	position: absolute;
	top: 7px;
	left: 170px;
	width: 230px;
}

#search_box>input[type=text] {
	width: 170px;
}

#search_box>button {
	position: absolute;
	top: 1px;
	right: 0px;
}

div#container {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
}

div#aside {
	position: absolute;
	width: 400px;
	height: 100%;
	border-right: 1px solid #A7A7A7;
	z-index: 10;
}

ul.nav_list {
	position: absolute;
	background-color: #252525;
	width: 60px;
	height: 100%;
}

.nav_list li {
	position: relative;
	width: 60px;
	height: 60px;
	color: #ffffff;
	text-align: center;
	list-style: none;
}

.nav_list a {
	display: block;
	width: 60px;
	height: 60px;
	background: url(/images/icons.png) no-repeat;
}

.nav_list .search {
	background-position: 0px 0px;
}

.nav_list .on .search {
	background-position: 0px -60px;
}

.nav_list .recommendation {
	background-position: -60px 0px;
}

.nav_list .on .recommendation {
	background-position: -60px -60px;
}

.nav_list .chatting {
	background-position: -120px 0px;
}

.nav_list .on .chatting {
	background-position: -120px -60px;
}

.nav_list .bookmark {
	background-position: -180px 0px;
}

.nav_list .on .bookmark {
	background-position: -180px -60px;
}

.nav_list .settings {
	background-position: -240px 0px;
}

.nav_list .on .settings {
	background-position: -240px -60px;
}

div#panel {
	position: absolute;
	right: 0px;
	width: 340px;
	height: 100%;
}

#panel>a {
	position: absolute;
	height: 56px;
	top: 50%;
	margin-top: -28px;
	z-index: 10;
	background: url(/images/panel_button.png) no-repeat;
}

#panel>.panel_button_close {
	background-position: 0px 0px;
	display: block;
	right: -10px;
	width: 10px;
	right: -10px;
}

#panel>.panel_button_open {
	background-position: -16px 0px;
	display: none;
	right: -13px;
	width: 13px;
	right: -13px;
}

div#content {
	position: absolute;
	top: 0px;
	right: 0px;
	mottom: 0px;
	left: 401px;
	height: 100%;
}

#map_area {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #252525;
}

#naver_map {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #7070FF;
}