@CHARSET "US-ASCII";

* {
	font-family: NanumGothic, 'Nanum Gothic';
}

body {
	margin : 0;
}

a {
	text-decoration: none;
}

#wrap {
	position : relative;
	height : 100%
}

header {
	position: absolute;
	top: 0;
	left: 0;
	/*z-index: 30;*/
	width: 100%;
	/*min-width: 980px;*/
	height: 47px;
	border-bottom: 1px solid ;
}

#service_name {
	float : left;
	padding-left: 20px;
	margin-right: 40px;
}

.search {
	float: left;
	margin-top: 20px;

}

.search input {
	float : left;

}

#search_button {
	float : left;
	cursor: pointer;
	text-align: center;
	background-color: #2db400;
}


#container {
	/*overflow: hidden;*/
	position: absolute;
	top: 48px;
	right: 0;
	bottom: 0;
	left: 0;
	height : 100%;
	/*z-index: 20;*/
}

#navi_and_panel {
	border : 1px solid;
	width : 32%;
	height: 100%;
	min-height: 1200px;
	/*왜 min-height를 지정해야 height가 지정되는지 */
}


nav {
	border : 1px solid;
	position: absolute;
	top: 0;
	left: 0;
	width: 8%;
	height: 100%;
	min-height: 1200px;
	border-right: 1px solid;
	background-color: #252525;
}

.nav_list {

	width: 50%;
	border: 1px solid;
	height: 100%;
	min-height: 1200px;
}

nav li {

	text-align: center;
	list-style: none;
	padding-top: 20px ;
}

#panel {

}

#map_area {
	border: 1px solid ;
	float: right;
	width: 68%;
}