#header>#search_box {
	position: absolute;
	top: 7px;
	left: 170px;
	width: 230px;
}

#search_box>input[type=text] {
	width: 170px;
}

#search_box>button {
	position: absolute;
	top: 1px;
	right: 0px;
}

#logout_button {
	position: absolute;
	top: 12px;
	right: 20px;
	color: white;
}

div#container {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
}

div#aside {
	position: relative;
	width: 62px;
	height: 100%;
}

div#nav {
	position: relative;
	width: 60px;
	height: 100%;
}

ul#nav_list {
	position: absolute;
	background-color: #252525;
	width: 100%;
	height: 100%;
	z-index: 12;
}

#nav_list li {
	position: relative;
	color: #ffffff;
	text-align: center;
	list-style: none;
}

#nav_list a {
	display: block;
	width: 60px;
	height: 60px;
	background: url(/images/icons.png) no-repeat;
}

#nav_list .search {
	background-position: 0px 0px;
}

#nav_list .on .search {
	background-position: 0px -60px;
}

#nav_list .recommendation {
	background-position: -60px 0px;
}

#nav_list .on .recommendation {
	background-position: -60px -60px;
}

#nav_list .chatting {
	background-position: -120px 0px;
}

#nav_list .on .chatting {
	background-position: -120px -60px;
}

#nav_list .bookmark {
	background-position: -180px 0px;
}

#nav_list .on .bookmark {
	background-position: -180px -60px;
}

#nav_list .settings {
	background-position: -240px 0px;
}

#nav_list .on .settings {
	background-position: -240px -60px;
}

div#panel {
	position: absolute;
	top: 0px;
	left: 62px;
	width: 340px;
	height: 100%;
	border-right: 1px solid #A7A7A7;
	background-color: #FEFEFE;
	z-index: 11;
}


.fold_panel #panel {
    animation: fold;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    -webkit-animation: fold;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}
@keyframes fold {
	from { -webkit-transform: translateX(0px); }
	to { -webkit-transform: translateX(-340px); }
}
@-webkit-keyframes fold {
	from { -webkit-transform: translateX(0px); }
	to { -webkit-transform: translateX(-340px); }
}

.no_panel #panel {
	left: -278px;
}

.unfold_panel #panel {
    animation: unfold;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    -webkit-animation: unfold;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}
@keyframes unfold {
	from { -webkit-transform: translateX(-340px); }
	to { -webkit-transform: translateX(0px); }
}
@-webkit-keyframes unfold {
	from { -webkit-transform: translateX(-340px); }
	to { -webkit-transform: translateX(0px); }
}

#panel>a {
	position: absolute;
	height: 56px;
	top: 50%;
	margin-top: -28px;
	background: url(/images/panel_button.png) no-repeat;
}

#panel>.panel_button_fold {
	background-position: 0px 0px;
	display: block;
	right: -10px;
	width: 10px;
}

#panel>.panel_button_unfold {
	background-position: -16px 0px;
	display: none;
	right: -13px;
	width: 13px;
}

.fold_panel #panel>.panel_button_fold {
	display: none;
}

.fold_panel #panel>.panel_button_unfold {
	display: block;
}

.no_panel #panel>.panel_button_fold {
	display: none;
}

.no_panel #panel>.panel_button_unfold {
	display: block;
}

div#content {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 62px;
	height: 100%;
}

#map_area {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #252525;
}

#naver_map {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

/*
** Create Chatting Room에 대한 CSS영역
*/
#createChatRoom {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 120;
	overflow: hidden;
	display: none; 
}

#createChatRoom .centerArea {
	position: absolute;
	width: 500px;
	height: 340px;
	margin-top: -250px;
	margin-left: -250px;
	left: 50%;
	top: 50%;
}

#createChatRoom .inputArea {
	position: absolute;
	padding: 5%;
	width: 90%;
	height: 90%;
}

.inputArea p {
	position: relative;
	margin-bottom: 20px;
}

.inputArea label {
	position: absolute;
	left: 0px;
	height: 100%;
	width: 50px;
	color: #847384;
	background: #dedede;
	border-radius: 3px 0 0 3px
}

#createChatRoom .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 5px;
}

/*outer bg*/
#createChatRoom .outer {
	background: #000;
	opacity: 0.5;	
}

/*inner bg*/
#createChatRoom .inner {
	background: #423142;
	opacity: 0.8;	
}

.createAddress {
	font-size: 200%;
	font-weight: 700;
}

.icon-title:before {
	content: "\f173";
}

.icon-people:before {
	content: "\f0c0";
}

/* 삭제예정 */
#createChatRoom [class^=icon-]:before,[class*=" icon-"]:before {
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
}

#createChatRoom label[class^=icon-]:before,label[class*=" icon-"]:before {
	position: absolute;
	text-align: center;
	font-size: 200%;
	left: 50%;
	top: 50%;
	margin-top: -25%;
	margin-left: -25%;
}
/* 삭제예정 */

#createChatRoom input[type="text"], #createChatRoom input[type="number"] {
	background: #e5e5e5;
	border: none;
	border-radius: 0 3px 3px 0;
	color: #5a5656;
	font-size: 20px;
	height: 50px;
	outline: none;
	padding: 0px 10px;
	margin-left: 50px;
	width: 380px;
}

#createChatRoom input[type="submit"] {
	background-color: #008dde;
	border: none;
	border-radius: 3px;
	margin-top: 20px;
	color: #f4f4f4;
	cursor: pointer;
	font-size: 20px;
	height: 40px;
	outline: none;
	padding: 0px 10px;
	text-transform: uppercase;
	width: 450px;
}

/* 줌인/줌아웃 버튼 시작(작성자 : 박세훈) */
#zoomButton {
	position: relative;
	width: 30px;
	height: 48px;
	float: right;
	margin-top: 40px;
	margin-right: 40px;
}

#zoomInButton {
	position: relative;
	width: 100%;
	height: 50%;
	background: url(/images/zoom_button.png) no-repeat;
	background-position: 0px 0px;
}

#zoomOutButton {
	position: relative;
	width: 100%;
	height: 50%;
	background: url(/images/zoom_button.png) no-repeat;
	background-position: -30px 0px;
}
/* 줌인/줌아웃 버튼 스타일 끝 */
