/*
** 맵상에서 마커를 클릭시 보여지는 메뉴에 대한 CSS
*/
@CHARSET "UTF-8";

/*
** Font Setting
*/
@font-face {
	font-family: FontAwesome;
	src:
		url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf)
}

[class^=icon-]:before,[class*=" icon-"]:before {
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
}

li[class^=icon-]:before,li[class*=" icon-"]:before {
	text-indent: -2em;
	text-align: center;
}

.icon-chatting:before {
	content: "\f086";
}

.icon-info:before {
	content: "\f06a";
}

.icon-bookmark:before {
	content: "\f08d";
}

/*
** TODO 주석달기
** 클릭시 나타나는 메뉴바에 대한 설정
*/
#menu {
	width: 75px;
	height: 75px;
	margin: -37.5px 0 0 -37.5px;
	border-radius: 500px;
	border-radius: 50%;
	position: relative;
	list-style: none;
	font-size: 140%;
	transition: width 500ms, height 500ms, margin 500ms;
	Box-sizing: Border-box;
	overflow: hidden;
}

.controlBox {
  position: relative;
  width: 75px;
  height: 75px;
  background: #000;
}

.content {
	border-radius: 20px;
}

.menu-chatting {
	position: absolute;
	margin-left: -270px;
	display: none;	
	margin-top: -40px;
	width: 200px;
	height: 100px;
	background: #fff;
}

.menu-info {
	position: absolute;
	margin: -260px 0 0 -105px;
	display: none;
	width: 200px;
	height: 100px;
	background: #fff;
}

.bookmark {
  
}
/*  markerArea  */

.menu-button {
	text-align: center;
	width: 75px;
	height: 75px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -37.5px 0 0 -37.5px;
	z-index: 3;
}

.navigation {
	background: #fff;
	box-shadow: 0 0 0 1px #9dd;
	border-radius: 500px;
	border-radius: 50%;
}

.hide-navigation {
	background: url('/images/marker_clicked_48.png');
	background-position: 50% 50%;
	background-size: 28px 37px;
	-webkit-background-size: 28px 37px;;
	background-repeat: no-repeat;
	background-origin: content-box;
	z-index: 5;
}

#menu:not (:target ) >a:first-of-type,#menu:target>a:last-of-type {
	opacity: 1;
	z-index: 1;
}

.menu-item-back {
	background: #8cc;
	width: 87.5px;
	height: 75px;
	position: absolute;
	transform-origin: 0px 75px;
	-ms-transform-origin: 0px 75px;
	-webkit-transform-origin: 0px 75px;
	margin-top: -75px;
	left: 50%;
	top: 50%;
	border: 1px solid whitesmoke;
}

.menu-item-back:hover {
	background: #9dd;
}

.menu-item {
	position: absolute;
	text-decoration: none;
	top: 50%;
	left: 50%;
	display: none;
}

.menu-item:before {
	color: #fff;
	position: absolute;
	text-decoration: none;
	top: -6px;
	left: 15px;
	z-index: 1;
}

.menu-item:nth-child(3) {
	display: block;
}

.menu-item:nth-child(3) .menu-item-back {
	transform: rotate(-30deg) skew(30);
	-ms-transform: rotate(-30deg) skew(30deg);
	-webkit-transform: rotate(-30deg) skew(30deg);
}

.menu-item:nth-child(3):before {
	margin: -55px 0 0 0.0px;
}

.menu-item:nth-child(4) {
	display: block;
}

.menu-item:nth-child(4) .menu-item-back {
	transform: rotate(90deg) skew(30deg);
	-ms-transform: rotate(90deg) skew(30deg);
	-webkit-transform: rotate(90deg) skew(30deg);
}

.menu-item:nth-child(4):before {
	margin: 22.5px 0 0 47.631395px;
}

.menu-item:nth-child(5) {
	display: block;
}

.menu-item:nth-child(5) .menu-item-back {
	transform: rotate(210deg) skew(30deg);
	-ms-transform: rotate(210deg) skew(30deg);
	-webkit-transform: rotate(210deg) skew(30deg);
}

.menu-item:nth-child(5):before {
	margin: 22.5px 0 0 -47.631395px;
}

/*
** 채팅방영역
*/
#chat {
	position: absolute;
	display: block;
	background: #fff;
}

#textarea {
	width: 300px;
	height: 300px;
	border: solid 1px;
}