body, html {
	position: relative;
	height: 100%;
	overflow: hidden;
	
	-webkit-user-select: NONE;
	-khtml-user-select: NONE;
	-moz-user-select: NONE;
	-ms-user-select: NONE;
	user-select: NONE;
}

a {
	text-decoration: none;
}

body * {
	display: block;
	font-size: 15px;
	font-family: Helvetica;
}

header {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #555;
	z-index: 100;
}

#logo>a {
	position: absolute;
	top: 11px;
	left: 5px;
	width: 100px;
	height: 33px;
	background: url("/images/logo.png") no-repeat;
	background-size: 100%;
}

/* sf = searchForm */
#sf_wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 110px;
	height: 50px;
}

#sf {
	position: relative;
	width: 100%;
	height: 100%;
}

#sf * {
	display: inline-block;
}

/* sb = searchBox */
#sb_wrapper {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 0px;
	background-color: white;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #ABABAB;
}

#sb_positioner {
	position: absolute;
	top: 0px;
	right: 10px;
	bottom: 0px;
	left: 10px;
}

#sf input[type=text] {
	position: absolute;
	font-size: 17px;
	line-height: 27px;
	top: 5.5px;
	width: 100%;
	height: 27px;
	border: none;
	padding: 0px;
}

#sf input[type=submit] {
	display: none;
}

#nav {
	position: absolute;
	top: 51px;
	z-index: 100;
}

#nav_menu {
	display: table;
	width: 100%;
	height: 43px;
	border-bottom: 1px solid #9e9f9f;
	background-color: #FDFDFD;
	table-layout: fixed;
}

#nav_menu>* {
	display: table-cell;
	white-space: nowrap;
	text-align: center;
	width: 25%;
}

#nav_menu div:nth-of-type(1).on {
	border-bottom: 3px solid #5d8bfc;
}

#nav_menu div:nth-of-type(2).on {
	border-bottom: 3px solid #aac700;
}

#nav_menu div:nth-of-type(3).on {
	border-bottom: 3px solid #febd01;
}

#nav_menu div:nth-of-type(4).on {
	border-bottom: 3px solid #f16559;
}

#nav_menu a {
	color: #303133;
	font-weight: bold;
	text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.7);
	line-height: 40px;
}

#panel_wrapper {
	position: absolute;
	top: 95px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 10;
}

#panel {
	position: absolute;
	top: -100%;
	width: 100%;
	height: 100%;
	background-color: #FDFDFD;
}

.unfoldedPanel #panel {
	top: 0px;
}

#panel_contents {
	position: relative;
	width: 100%;
	height: 100%;
}

.section_wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.section_wrapper:nth-of-type(1) {
	left: 0%;
	background-color: #5d8bfc;
}

.section_wrapper:nth-of-type(2) {
	left: 100%;
	background-color: #aac700;
}

.section_wrapper:nth-of-type(3) {
	left: 200%;
	background-color: #febd01;
}

.section_wrapper:nth-of-type(4) {
	left: 300%;
	background-color: #f16559;
}

.section {
	position: absolute;
	overflow-x: visible;
	overflow-y: scroll;
	overflow-scroll: touch;
	-webkit-overflow-scroll: touch;
}

.section h1 {
	color: white;
	font-size: 3em;
	font-weight: bold;
	margin-bottom: 10px;
}

.card {
	display: inline-block;

	background-color: #FEFEFE;
	border: 1px solid #ABABAB;
	
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@media only screen
and (min-width: 920px) {
	.section {
		width: 900px;
		top: 10px;
		bottom: 30px;
		left: 50%;
		margin-left: -450px;
	}
	
	.card {
		width: 440px;
		height: 70px;
		margin-left: 5px;
		margin-bottom: 5px;
	}
}

/* Tablet smaller than iPad */
@media only screen 
and (min-width: 650px) and (max-width: 920px) {
	.section {
		width: 630px;
		top: 10px;
		bottom: 30px;
		left: 50%;
		margin-left: -315px;
	}
	
	.card {
		width: 310px;
		height: 70px;
		margin-left: 3px;
		margin-bottom: 3px;
	}
}

/* phone */
@media only screen 
and (max-width: 650px)  {
	.section {
		top: 10px;
		right: 10px;
		bottom: 30px;
		left: 10px;
	}
	
	.card {
		display: block;
		width: 100%;
		height: 70px;
		margin-bottom: 3px;
	}
}

/*dada*/
#panel_wrapper.foldPanel {
	animation: fold;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	
	-webkit-animation: fold;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation: fold;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}

@keyframes fold {
	from { transform: translateY(100%); }
	to { transform: translateY(0px); }
}
@-webkit-keyframes fold {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0px); }
}
@-moz-keyframes fold {
	from { -moz-transform: translateY(100%); }
	to { -moz-transform: translateY(0px); }
}

#panel_wrapper.unfoldPanel {
	animation: unfold;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	
	-webkit-animation: unfold;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation: unfold;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}
@keyframes unfold {
	from { transform: translateY(0px); }
	to { transform: translateY(100%); }
}
@-webkit-keyframes unfold {
	from { -webkit-transform: translateY(0px); }
	to { -webkit-transform: translateY(100%); }
}
@-moz-keyframes unfold {
	from { -moz-transform: translateY(0px); }
	to { -moz-transform: translateY(100%); }
}

#panel_buttons {
	position: absolute;
	width: 52px;
	height: 26px;
	left: 50%;
	margin-left: -25px;
	bottom: 0px;
	z-index: 100;
}

#panel_buttons > * {
	position: absolute;
	width: 50px;
	height: 25px;
	background-color: #EEE;
	border: 1px solid #ABABAB;
}

#unfold {
	display: block;
	bottom: -26px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-top: 0px;
}

#fold {
	display: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom: 0px;
}

.unfoldPanel #unfold, .unfoldedPanel #unfold {
	display: none;
}

.unfoldPanel #fold, .unfoldedPanel #fold {
	display: block;
}

.panelFold, .panelUnfold {
	width: 100%;
	height: 100%;
}

div.panelFold {
	background: url(/images/mobile_fold.png) no-repeat center;
}

div.panelUnfold {
	background: url(/images/mobile_unfold.png) no-repeat center;
}

/* ================= */
#map {
	position: absolute;
	top: 95px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #888;
	z-index: 1;
}