body, html {
	position: relative;
	height: 100%;
	overflow: hidden;
	
	-webkit-user-select: NONE;
	-khtml-user-select: NONE;
	-moz-user-select: NONE;
	-ms-user-select: NONE;
	user-select: NONE;
}

a {
	text-decoration: none;
}

body * {
	font-size: 15px;
	font-family: Helvetica;
}

header {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #555;
	z-index: 100;
}

#logo>a {
	position: absolute;
	top: 11px;
	left: 5px;
	width: 100px;
	height: 33px;
	background: url("/images/logo.png") no-repeat;
	background-size: 100%;
}

/* sf = searchForm */
#sf_wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 110px;
	height: 50px;
}

#sf_wrapper.onFocus {
	left: 5px;
}

div#sf {
	position: relative;
	width: 100%;
	height: 100%;
}

#sf * {
	display: inline-block;
}

/* sb = searchBox */
#sb_wrapper {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 0px;
	background-color: white;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #ABABAB;
}

.onFocus #sb_wrapper {
	right: 55px;
}

#sb_positioner {
	position: absolute;
	top: 0px;
	right: 10px;
	bottom: 0px;
	left: 10px;
}

#sf input[type=text] {
	position: absolute;
	font-size: 17px;
	line-height: 27px;
	top: 5.5px;
	width: 100%;
	height: 27px;
	border: none;
	padding: 0px;
}

#sf .submit {
	display: none;
	position: absolute;
	top: 5px;
	right: 4px;
	width: 45px;
	height: 38px;
	border: 1px solid #0077FF;
	
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

	color: #FFFFFF;
	background-color: #0077FF;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 38px;
}

.onFocus #sf .submit {
	display: block;
}

#nav {
	position: absolute;
	top: 51px;
	z-index: 100;
}

#nav_menu {
	display: table;
	width: 100%;
	height: 43px;
	border-bottom: 1px solid #9e9f9f;
	background-color: #FDFDFD;
	table-layout: fixed;
}

#nav_menu>* {
	display: table-cell;
	white-space: nowrap;
	text-align: center;
	width: 25%;
}

#nav_menu div:nth-of-type(1).on {
	border-bottom: 3px solid #5d8bfc;
}

#nav_menu div:nth-of-type(2).on {
	border-bottom: 3px solid #aac700;
}

#nav_menu div:nth-of-type(2) {
	position: relative;
}

#nav_menu div:nth-of-type(2) .notification {
	left: 0px;
	right: initial;
}

#nav_menu div:nth-of-type(3).on {
	border-bottom: 3px solid #febd01;
}

#nav_menu div:nth-of-type(4).on {
	border-bottom: 3px solid #f16559;
}

#nav_menu a {
	display: block;
	width: 100%;
	height: 100%;
	color: #303133;
	font-weight: bold;
	text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.7);
	line-height: 40px;
}

#panel_wrapper {
	position: absolute;
	top: 95px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 10;
}

#panel {
	position: absolute;
	top: -100%;
	width: 100%;
	height: 100%;
	background-color: #FDFDFD;
}

.unfoldedPanel #panel {
	top: 0px;
}

#panel_contents {
	position: relative;
	width: 100%;
	height: 100%;
}

#panel_contents.translate {
	-webkit-transition: all 0.2s ease-out;
	 -moz-transition: all 0.2s ease-out;
	 -o-transition: all 0.2s ease-out;
	 transition: all 0.2s ease-out;
}

.section_wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.section_wrapper:nth-of-type(1) {
	left: 0%;
	background-color: #5d8bfc;
}

.section_wrapper:nth-of-type(2) {
	left: 100%;
	background-color: #aac700;
}

.section_wrapper:nth-of-type(3) {
	left: 200%;
	background-color: #febd01;
}

.section_wrapper:nth-of-type(4) {
	left: 300%;
	background-color: #f16559;
}

/* .scroll_wrapper의 크기는 아래 media query에서 적용함 */
.scroll_wrapper {
	position: absolute;
	top: 0px;
	bottom: 30px;
	overflow: hidden;
}

.scroll_area {
	position: absolute;
	width: 100%;
	z-index: 1;
}

.section {
	width: 100%;
}

.scroll_area h1 {
	color: white;
	font-size: 35px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card {
	padding: 10px;
	display: inline-block;
	min-height: 60px;
	background-color: #FEFEFE;
	border: 1px solid #ABABAB;
	
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@media only screen
and (min-width: 920px) {
	.scroll_wrapper {
		width: 900px;
		left: 50%;
		margin-left: -450px;
	}
	
	.card {
		width: 440px;
		margin-left: 5px;
		margin-bottom: 5px;
	}
}

/* Tablet smaller than iPad */
@media only screen 
and (min-width: 650px) and (max-width: 920px) {
	.scroll_wrapper {
		width: 630px;
		left: 50%;
		margin-left: -315px;
	}
	
	.card {
		width: 310px;
		margin-left: 3px;
		margin-bottom: 5px;
	}
}

/* phone */
@media only screen 
and (max-width: 650px)  {
	.scroll_wrapper {
		left: 10px;
		right: 10px;
	}

	.card {
		display: block;
		left: 10px;
		right: 10px;
		margin-bottom: 5px;
	}
}

.foldPanel #panel {
	animation: fold;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	
	-webkit-animation: fold;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation: fold;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}

@keyframes fold {
	from { transform: translateY(100%); }
	to { transform: translateY(0px); }
}
@-webkit-keyframes fold {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0px); }
}
@-moz-keyframes fold {
	from { -moz-transform: translateY(100%); }
	to { -moz-transform: translateY(0px); }
}

.unfoldPanel #panel {
	animation: unfold;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	
	-webkit-animation: unfold;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation: unfold;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}
@keyframes unfold {
	from { transform: translateY(0px); }
	to { transform: translateY(100%); }
}
@-webkit-keyframes unfold {
	from { -webkit-transform: translateY(0px); }
	to { -webkit-transform: translateY(100%); }
}
@-moz-keyframes unfold {
	from { -moz-transform: translateY(0px); }
	to { -moz-transform: translateY(100%); }
}

/* #panel_buttons와 하위 버튼들인 #fold / #unfold의 위치 속성이 다소 괴랄하게 적용되었는데,
   이는 iOS에서 unfold 애니메이션 동작 중 #fold가 보이지 않는 버그 때문입니다. */
/* iScroll을 적용되면서 문제가 발생했습니다. 브라우저 별 z-index 랜더링이 달라서 발생한 문제로 생각됩니다. */
#panel_buttons {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 50%;
	margin-left: -26px;
	bottom: 0px;
	z-index: 100;
}

#panel_buttons > * {
	position: absolute;
	width: 50px;
	height: 25px;
	background-color: #EEE;
	border: 1px solid #ABABAB;
}

#unfold {
	display: block;
	bottom: -26px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-top: 0px;
}

#fold {
	display: none;
	bottom: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom: 0px;
}

.unfoldPanel #unfold, .unfoldedPanel #unfold {
	display: none;
}

.unfoldPanel #fold, .unfoldedPanel #fold {
	display: block;
} 

.panelFold, .panelUnfold {
	width: 100%;
	height: 100%;
}

div.panelFold {
	background: url(/images/mobile_fold.png) no-repeat center;
}

div.panelUnfold {
	background: url(/images/mobile_unfold.png) no-repeat center;
}

/* ================= */
#map {
	position: absolute;
	top: 95px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #888;
	z-index: 1;
}

/*
** Template Style
*/
@font-face {
	font-family: FontAwesome;
	src:
		url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf)
}

[class^=icon-]:before,[class*=" icon-"]:before {
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
}

.icon-title:before {
	content: "\f173";
}

.icon-people:before {
	content: "\f0c0";
}

#panel_contents .default {
	color: #F2F0F0;
	text-align: center;
	width: 100%;
	height: 100%;
	border: none;
	background-color:transparent;
}

#panel_contents .icon-warning:before {
	margin-top: 20%;
	margin-bottom: 10%;
	color: #F2F0F0;
	font-size: 10em;
	content: "\f05b";
}

#panel_contents > * {
	width: 100%;
}

#panel_contents .title {
	width: 100%;
	font-weight: bold;
	font-size: 1.3em !important;
}

#panel_contents .title:before {
	margin-right: 5px;
}

#panel_contents .address {
	line-height: 20px;
	font-size : 0.8em;
	margin-top: 5px;
	font-size: 14px;
	color: #666;
}

li.search .title:before {
	content: "\f041";
}

li.search .category {
	font-size: 1.0em;
	color: #B9BBBD;
	margin-top: 10px;
}

li.bookmark .title:before {
	content: "\f005";
	margin-right: 5px;
}

li.bookmark .icon-delete:before {
	color: #F0F0F0;
	content: "\f056";
	position: absolute;
	font-size: 20px;
	top: 10px;
	right: 10px;
}

li.bookmark .icon-delete:hover:before {
	color: #000;
	top: 10px;
	right: 10px;
}

li.chatRoom .icon-chatting:before {
	content: "\f0e6";
	margin-right: 5px;
}

li.chatRoom {
	position: relative;
	left: 0;
	right: 0;
}

li.chatRoom .title {
	font-size: 1.3em;
	margin-bottom: 0.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

li.chatRoom .limit {
	font-size: 0.8em;
}

.icon-participant:before {
	content: "\f007";
	margin-right: 5px;
}

.address.icon-title:before {
	content: "\f041";
	margin-right: 5px;	
}

.notification {
	position: absolute;
	padding: 7px 10px;
	border-radius: 20px;
	background-color: #FF3B3B;
	color: #fff;
	font-size: 13px;
	display: inline-block;
	top: -5px;
	right: -20px;
}

li.chatRoom .notification {
	top: 5px;
	left: 5px;
	right: auto;
}

/*
** 채팅창 (ChatWindow) 스타일 시작
*/
#chatWindow *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#chatWindow {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	z-index: 200;
}

#chatWindow .leftArea {
	position:relative;
	width: 100%;
	height: 100%;
	float: left;
	border: 0.1em solid #3a4655;
	border-right: 0;
	border-radius: 0.2em 0 0 0.2em;
	background-color: #fff;
	z-index: 1;
}

#chatWindow .rightArea {
	top:-92%;
	position: relative;
	z-index: 10;
	/*오른쪽으로 밀려나있다가, 메뉴를 누르면 나온다 */
	left:100%;
	width: 30%;
	height: 92%;
	float: left;
	border: 0.1em solid #3a4655;
	border-radius: 0 0.2em 0.2em 0;
	background-color: #fff;
}

.rightArea:after {
	position: absolute;  
	top: -0.1em;
	right: -20px;
	width: 20px;
	height: 100%;
	background-color: #424f5f;
	border-bottom: 0.2em solid #3a4655;
	border-radius: 0 0.2em 0.2em 0;
	color: #fff;
	!line-height: 35em;
	line-height: 300%;
	text-align: center;
	display: inline-block;
}

.rightArea.fold {
	animation: fold;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	
	-webkit-animation: fold;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation: fold;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}

/* mobileMain.css와 mobileChat.css merge하는 과정에서 아래소스가
충돌되어 주석처리 했습니다. -윤성
@keyframes fold {
	from { transform: translateX(-100%); }
	to { transform: translateX(0px); }
}
@-webkit-keyframes fold {
	from { -webkit-transform: translateX(-100%); }
	to { -webkit-transform: translateX(0px); }
}
@-moz-keyframes fold {
	from { -moz-transform: translateX(-100%); }
	to { -moz-transform: translateX(0px); }
}

.rightArea.unfold {
	animation: unfold;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	
	-webkit-animation: unfold;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation: unfold;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}
@keyframes unfold {
	from { transform: translateX(0px); }
	to { transform: translateX(-100%); }
}
@-webkit-keyframes unfold {
	from { -webkit-transform: translateX(0px); }
	to { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes unfold {
	from { -moz-transform: translateX(0px); }
	to { -moz-transform: translateX(-100%); }
}
*/

/* .rightArea.unfold {
	left: 80%;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
} */

/* default가 fold상태로,  #chatWindow .rightArea 에 정의되어 있는 상태 
.rightArea.fold {
	left: 100%;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
} 
*/

.leftArea .top {
	display: relative;
	width: 100%;
	border-bottom: 0.1em solid #3a4655;
	border-right: 0.1em solid #384652;
	background-color: #424f5f;
	opacity: 1;
	overflow: hidden;
	color: #fff;
	text-align: center;
	padding: 3%;
}

.top .title {
	display: inline-block;
	margin-top: 0.7em;
	font-size: 1.1em;
	white-space: nowrap;
	width:150px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.top .title:before {
	margin-right: 5px;
}

.top .menu {
	margin-top: 0.7em;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 1em;
	cursor: pointer;
	right: 1%;
}

.top .menu .icon-aside:before {
	content: "\f019";
	font-size: 1.8em;
	color: #7a8696;
	margin-right: 5px;
	display: inline;
}

.top .menu .icon-exit:before {
	content: "\f08b";
	font-size: 1.8em;
	color: #7a8696;
}

.top .menu .icon-member:before {
	content: "\f0c9";
	font-size: 1.8em;
	color: #7a8696;
	margin-right: 5px;
}

/* .top .menu .icon-member:hover:before {
	color: #fff;
} */

.top .menu .leftMenu {
	left: 2%;
	text-align: left;
	display: inline-block;
}

.top .menu .rightMenu {
	right: 2%;
	text-align: right;
	display: inline-block;
}


.leftArea .middle {
	display: inline-block;
	width: 100%;
	!height: 60%;
	height: 85%;
}

.leftArea .bottom {
	display: inline-block;
	width: 100%;
	!height: 25%;
	border-top: 0.1em solid #C7C7C7;
}

.inputArea {
	width: 85%;
	height: 30px;
	font-size: 1em;
	background: none;
	color: #000;
	resize: none;
	outline: none;
	border: 0;
	padding: 0.5em 0.6em;
	color: #92a2c2;
	line-height: 1.5em;
	!border: 1px solid;
}

.leftArea .bottom input[type="button"]{
	width:13%;
	border: none;
	position:relative;
	bottom:9px;
	height:3em;
}


.chattingMemberList ul{
	display: inline-block;
	width: 100%;
	height: 100%;
	list-style-type: none;
	padding: 0;
	overflow-y: scroll;
	margin: 0px;
}

.chattingMemberList li {
	padding: 10px 0;
	text-align: center;
	overflow: ellipsis;
}

.chattingMemberList li p {
	margin: 0px;
	font-size: 0.7em;
}

.chattingContents li{
  clear: both;
  position: relative;
  margin-bottom: 30px;
}

.chattingContents {
  float: left;
  display: inline-block;
  width: 100%;
  padding: 5% 2.5% 0 2.5%;
  height: 100%;
  margin: auto;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chattingContents li .profile {
  width: 3em;
  height: 3em;
  display: inline-block;
  border-radius: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://avatars2.githubusercontent.com/u/3844023?s=140");
  position: relative;
  top: 0em;
}
.chattingContents .notice .message {
  min-width: 100%;  
  max-width: 100%;
  text-align: center;
  background-color: #7a8696;
  color: #fff;
  font-weight: bold;
  font-size: 0.7em;
  padding: 0.5em 0;
}

.chattingContents .user {
  text-align: right;
}

.chattingContents .user .time {
  position: relative;
}

.chattingContents .user .message {
  max-width: 80%;
  text-align: justify;
  padding-left: 14px;
  color: #92a2c2;
}

.chattingContents li .message {
  position: relative;
  top: 0em;
  clear: both;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin: 20px 0 0 0;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 10px;
  background-color: #fff;
  border: 0.1em solid #C1C1C1;
  max-width: 70%;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
}

.chattingContents li .nickname {
  font-size: 0.7em;
  position: absolute;
  top: 0.5em;
  margin-left: 0.4em;
  font-weight: bold;
  color: #7a8696;
}

.chattingContents li .time {
  font-size: 0.3em;
  position: absolute;
  bottom: 0.5em;
  margin-left: 0.3em;
  font-weight: bold;
  color: #7a8696;
}

.chattingContents li .message:before {
  position: absolute;
  top: 0;
  width: 3em;
  height: 3em;
  border-radius: 2em;
  content: '';
}

.chattingContents li .message:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid #C7C7C7;
  opacity: 0.3;
}
/*
** 채팅창 (ChatWindow) 스타일 종료
*/
