body, html {
	position: relative;
	height: 100%;
	overflow: hidden;
	
	-webkit-user-select: NONE;
	-khtml-user-select: NONE;
	-moz-user-select: NONE;
	-ms-user-select: NONE;
	user-select: NONE;
}

a {
	text-decoration: none;
}

body * {
	font-size: 15px;
	font-family: Helvetica;
}

header {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #555;
	z-index: 100;
}

#logo>a {
	position: absolute;
	top: 11px;
	left: 5px;
	width: 100px;
	height: 33px;
	background: url("/images/logo.png") no-repeat;
	background-size: 100%;
}

/* sf = searchForm */
#sf_wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 110px;
	height: 50px;
}

#sf_wrapper.onFocus {
	left: 5px;
}

div#sf {
	position: relative;
	width: 100%;
	height: 100%;
}

#sf * {
	display: inline-block;
}

/* sb = searchBox */
#sb_wrapper {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 0px;
	background-color: white;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #ABABAB;
}

.onFocus #sb_wrapper {
	right: 55px;
}

#sb_positioner {
	position: absolute;
	top: 0px;
	right: 10px;
	bottom: 0px;
	left: 10px;
}

#sf input[type=text] {
	position: absolute;
	font-size: 17px;
	line-height: 27px;
	top: 5.5px;
	width: 100%;
	height: 27px;
	border: none;
	padding: 0px;
}

#sf .submit {
	display: none;
	position: absolute;
	top: 5px;
	right: 4px;
	width: 45px;
	height: 38px;
	border: 1px solid #0077FF;
	
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

	color: #FFFFFF;
	background-color: #0077FF;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	line-height: 38px;
}

.onFocus #sf .submit {
	display: block;
}

#nav {
	position: absolute;
	top: 51px;
	z-index: 100;
}

#nav_menu {
	display: table;
	width: 100%;
	height: 43px;
	border-bottom: 1px solid #9e9f9f;
	background-color: #FDFDFD;
	table-layout: fixed;
}

#nav_menu>* {
	display: table-cell;
	white-space: nowrap;
	text-align: center;
	width: 25%;
}

#nav_menu div:nth-of-type(1).on {
	border-bottom: 3px solid #5d8bfc;
}

#nav_menu div:nth-of-type(2).on {
	border-bottom: 3px solid #aac700;
}

#nav_menu div:nth-of-type(3).on {
	border-bottom: 3px solid #febd01;
}

#nav_menu div:nth-of-type(4).on {
	border-bottom: 3px solid #f16559;
}

#nav_menu a {
	display: block;
	width: 100%;
	height: 100%;
	color: #303133;
	font-weight: bold;
	text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.7);
	line-height: 40px;
}

#panel_wrapper {
	position: absolute;
	top: 95px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 10;
}

#panel {
	position: absolute;
	top: -100%;
	width: 100%;
	height: 100%;
	background-color: #FDFDFD;
}

.unfoldedPanel #panel {
	top: 0px;
}

#panel_contents {
	position: relative;
	width: 100%;
	height: 100%;
}

#panel_contents.translate {
	-webkit-transition: all 0.2s ease-out;
	 -moz-transition: all 0.2s ease-out;
	 -o-transition: all 0.2s ease-out;
	 transition: all 0.2s ease-out;
}

.section_wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.section_wrapper:nth-of-type(1) {
	left: 0%;
	background-color: #5d8bfc;
}

.section_wrapper:nth-of-type(2) {
	left: 100%;
	background-color: #aac700;
}

.section_wrapper:nth-of-type(3) {
	left: 200%;
	background-color: #febd01;
}

.section_wrapper:nth-of-type(4) {
	left: 300%;
	background-color: #f16559;
}

/* .scroll_wrapper의 크기는 아래 media query에서 적용함 */
.scroll_wrapper {
	position: absolute;
	top: 0px;
	bottom: 30px;
	overflow: hidden;
}

.scroll_area {
	position: absolute;
	width: 100%;
	z-index: 1;
}

.section {
	width: 100%;
}

.scroll_area h1 {
	color: white;
	font-size: 35px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card {
	padding: 10px;
	display: inline-block;
	min-height: 60px;
	background-color: #FEFEFE;
	border: 1px solid #ABABAB;
	
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@media only screen
and (min-width: 920px) {
	.scroll_wrapper {
		width: 900px;
		left: 50%;
		margin-left: -450px;
	}
	
	.card {
		width: 440px;
		margin-left: 5px;
		margin-bottom: 5px;
	}
}

/* Tablet smaller than iPad */
@media only screen 
and (min-width: 650px) and (max-width: 920px) {
	.scroll_wrapper {
		width: 630px;
		left: 50%;
		margin-left: -315px;
	}
	
	.card {
		width: 310px;
		margin-left: 3px;
		margin-bottom: 5px;
	}
}

/* phone */
@media only screen 
and (max-width: 650px)  {
	.scroll_wrapper {
		left: 10px;
		right: 10px;
	}

	.card {
		display: block;
		left: 10px;
		right: 10px;
		margin-bottom: 5px;
	}
}

.foldPanel #panel {
	animation: fold;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	
	-webkit-animation: fold;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation: fold;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}

@keyframes fold {
	from { transform: translateY(100%); }
	to { transform: translateY(0px); }
}
@-webkit-keyframes fold {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0px); }
}
@-moz-keyframes fold {
	from { -moz-transform: translateY(100%); }
	to { -moz-transform: translateY(0px); }
}

.unfoldPanel #panel {
	animation: unfold;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	
	-webkit-animation: unfold;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation: unfold;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}
@keyframes unfold {
	from { transform: translateY(0px); }
	to { transform: translateY(100%); }
}
@-webkit-keyframes unfold {
	from { -webkit-transform: translateY(0px); }
	to { -webkit-transform: translateY(100%); }
}
@-moz-keyframes unfold {
	from { -moz-transform: translateY(0px); }
	to { -moz-transform: translateY(100%); }
}

/* #panel_buttons와 하위 버튼들인 #fold / #unfold의 위치 속성이 다소 괴랄하게 적용되었는데,
   이는 iOS에서 unfold 애니메이션 동작 중 #fold가 보이지 않는 버그 때문입니다. */
/* iScroll을 적용되면서 문제가 발생했습니다. 브라우저 별 z-index 랜더링이 달라서 발생한 문제로 생각됩니다. */
#panel_buttons {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 50%;
	margin-left: -26px;
	bottom: 0px;
	z-index: 100;
}

#panel_buttons > * {
	position: absolute;
	width: 50px;
	height: 25px;
	background-color: #EEE;
	border: 1px solid #ABABAB;
}

#unfold {
	display: block;
	bottom: -26px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-top: 0px;
}

#fold {
	display: none;
	bottom: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom: 0px;
}

.unfoldPanel #unfold, .unfoldedPanel #unfold {
	display: none;
}

.unfoldPanel #fold, .unfoldedPanel #fold {
	display: block;
} 

.panelFold, .panelUnfold {
	width: 100%;
	height: 100%;
}

div.panelFold {
	background: url(/images/mobile_fold.png) no-repeat center;
}

div.panelUnfold {
	background: url(/images/mobile_unfold.png) no-repeat center;
}

/* ================= */
#map {
	position: absolute;
	top: 95px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #888;
	z-index: 1;
}

/*
** Template Style
*/
@font-face {
	font-family: FontAwesome;
	src:
		url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf)
}

[class^=icon-]:before,[class*=" icon-"]:before {
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
}

.icon-title:before {
	content: "\f173";
}

.icon-people:before {
	content: "\f0c0";
}

#panel_contents .default {
	color: #F2F0F0;
	text-align: center;
	width: 100%;
	height: 100%;
	border: none;
	background-color:transparent;
}

#panel_contents .icon-warning:before {
	margin-top: 20%;
	margin-bottom: 10%;
	color: #F2F0F0;
	font-size: 10em;
	content: "\f05b";
}

#panel_contents > * {
	width: 100%;
}

#panel_contents .title {
	width: 100%;
	font-weight: bold;
	font-size: 1.3em !important;
}

#panel_contents .title:before {
	margin-right: 5px;
}

#panel_contents .address {
	line-height: 20px;
	font-size : 0.8em;
	margin-top: 5px;
	font-size: 14px;
	color: #666;
}

#panel_contents li:hover{
	background-color: #FAFAFA;
	cursor: pointer;
}

li.search .title:before {
	content: "\f041";
}

li.search .category {
	font-size: 1.0em;
	color: #B9BBBD;
	margin-top: 10px;
}

li.bookmark .title:before {
	content: "\f005";
	margin-right: 5px;
}

li.bookmark .icon-delete:before {
	color: #F0F0F0;
	content: "\f056";
	position: absolute;
	font-size: 20px;
	top: 10px;
	right: 10px;
}

li.bookmark .icon-delete:hover:before {
	color: #000;
	top: 10px;
	right: 10px;
}

li.chatRoom .icon-chatting:before {
	content: "\f0e6";
	margin-right: 5px;
}

li.chatRoom {
	position: relative;
	left: 0;
	right: 0;
}

li.chatRoom .title {
	font-size: 1.3em;
	margin-bottom: 0.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

li.chatRoom .limit {
	font-size: 0.8em;
}

.icon-participant:before {
	content: "\f007";
	margin-right: 5px;
}

.address.icon-title:before {
	content: "\f041";
	margin-right: 5px;	
}

.notification {
	position: absolute;
	padding: 7px 10px;
	border-radius: 20px;
	background-color: #FF3B3B;
	color: #fff;
	font-size: 13px;
	display: inline-block;
	top: -5px;
	right: -20px;
}

li.chatRoom .notification {
	top: 5px;
	left: 5px;
	right: auto;
}
